<form [formGroup]="form" (ngSubmit)="addThisSong(focusme)">
  <div class="form-group">
    <label for="Title">Title</label>
    <input
      type="text"
      #focusme
      autofocus
      class="form-control"
      formControlName="title"
      id="Title"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        form.controls.title.errors &&
        (form.controls.title.dirty || form.controls.title.touched)
      "
    >
      <p *ngIf="form.controls.title.hasError('required')">This is Required</p>
      <p *ngIf="form.controls.title.hasError('maxlength')">
        This has a max length of 50
      </p>
      <p *ngIf="form.controls.title.hasError('minlength')">
        You must have at least 3 letters in the title
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="Artist">Artist</label>
    <input
      type="text"
      class="form-control"
      formControlName="artist"
      id="Artist"
    />
    <div
      class="alert alert-danger"
      *ngIf="
        form.controls.artist.errors &&
        (form.controls.artist.dirty || form.controls.artist.touched)
      "
    >
      <p *ngIf="form.controls.artist.hasError('required')">This is Required</p>
    </div>
  </div>
  <div class="form-group">
    <label for="Album">Album</label>
    <input
      type="text"
      class="form-control"
      formControlName="album"
      id="Album"
    />
  </div>
  <button type="submit" class="btn btn-success">Add This Song!</button>
</form>
